html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: linear-gradient(0deg, #008060 0%, #ffffff 100%);
    background-repeat: no-repeat;
    background-size: cover;  
    background-attachment: fixed;  /* Fixuje pri scrolli */
}