html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: linear-gradient(0deg, #008060 0%, #ffffff 100%);
    background-repeat: no-repeat;
    background-size: cover;  
    background-attachment: fixed;  /* Fixuje pri scrolli */
}

/* Navigation */
#nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin-top: 0;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  font-family: Arial, sans-serif;
  position: relative;  /* Pre ::after */
}

#nav::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;  
  height: 2px; 
  background: #008060;
}

#nav a, .nav-link {
  display: inline-block;
  margin: 0 20px;
  color: rgb(0, 0, 0);
  opacity: 0.9;
  text-decoration: none;
  font-weight: bold;
  font-family: Arial, sans-serif;
}

#nav a.router-link-active, .nav-link.router-link-active {
  color: #008060;
  opacity: 1;
}

#logo {
  font-weight: bold;
  font-size: 1.5rem;
  opacity: 1 !important;
  margin-right: 40px;
  font-family: Arial, sans-serif;
}

